/*
File Name mixins-theme.css
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */

$transition: all 0.1s ease-in;
$radius: 4px;
$font-paragraph-size: 14px;
$font-paragraph-line-height: 22px;

@mixin font-one() { // reading font
    font-family:'Open Sans', sans-serif;
}
@mixin font-two() { // title font
    font-family:'Open Sans', sans-serif;
}
@mixin paragraph() {
	@include font-one();
	font-size:$font-paragraph-size;
	line-height:$font-paragraph-line-height;
}
@mixin title() {
	@include font-two();
	line-height:1.1em;
	font-weight:400;
}
@mixin med-text() { font-size:18px; line-height:28px; }
@mixin sml-text() { font-size:12px; line-height:18px; }
@mixin sml-text-ex() { @include sml-text(); font-size:11px; }

/* Block */
$max-width-a: 1080px;
$max-width-b: 940px;
$max-width-c: 768px;
$max-width-d: 568px;
$max-width-e: 480px;

/*colors*/
$red-a: #f5cdca;
$red-b: #dd5951;

$orange-a: #d54e21;
$orange-b: #eeb8a6;

$blue-a: #015d8d;
$blue-b: #ccdfe8;

$gray-a: #b5b5b5;
$gray-b: #464646;
$gray-c: #f0f0f0;



/* custom mixins
#################################################################################################### */
@mixin remove-section-main-inner-wrap() {
	.inner-wrap.section-main-inner-wrap { max-width:100000px; padding:0; }
	#section-main { padding-top:0; }
}



@mixin radialCenter($colorA,$colorB) {
	background-color: $colorA;
	background-position: center center;
	background-repeat: no-repeat;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from($colorB), to($colorA));
	background: -webkit-radial-gradient(circle, $colorB, $colorA);
	background: -moz-radial-gradient(circle, $colorB, $colorA);
	background: -ms-radial-gradient(circle, $colorB, $colorA);
}
