/* 
File Name: responsive.css
Version: 1.2
Updated: 08.16.13
Package: ParentTheme_VC
License: GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */



@media (max-width: 1024px) {
	
	
	
} /*end @media (max-width: 1024px)*/






@media (max-width: 940px) {
	
	
	
} /*end @media (max-width: 940px)*/






@media (max-width: 767px) {
	
	body { padding-left:0; padding-right:0; }
	
} /*end @media (max-width: 767px)*/






@media (max-width: 568px) {
	
	
	
} /*end @media (max-width: 568px)*/






@media (max-width: 320px) {
	
	
	
} /*end @media (max-width: 320px)*/